$img-bg: "../img/header-image-homepage.jpg";
$margin: 10px;
$form-img:"../img/make-an-appointment.jpg";
$gradient-bg:"../img/rgb-gradient-bar-for-logo-carrasel.jpg";
$logo-1:"../img/client-logos-2.png";
$logo-2:"../img/client-logos-3.png";
$logo-3:"../img/client-logos-4.png";
