@import "variables";
@import "colors";

@mixin flex {
  display:flex;
  flex-direction: row;
  justify-content:space-around;
}
@mixin button{
  width: 200px;
  height: 50px;
  background-color: $button;
}


#root {
    font-family: 'Lato', sans-serif;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.jumbotron {
  height: 900px;
  background-image: url($img-bg);
  background-size: cover;

  .nav{
    width: 100%;
    height: 200px;





  &-left>img{
    float:left;
    margin-top: 15px;

  }

  &-right{
    float: right;
    display: inline-block;
    margin-top: 15PX;


    &>li{
      list-style: none;
      display: inline;
      padding: 10px;
    }

    &>li>a{
      text-decoration: none;
      color:$word;
    }
    &>li>a:hover{
    color:$button;
    }

    &>li>span{
      color:$word;
    }

    &>li>span>button{
    @include button;
    }



  }

}

.center{
  width: 600px;
  height: 200px;
  margin-left: 400px;
  color: $word;

  &>h1>span{
    color:$button;
  }

  &>h1{
    font-size: 45px;
    font-style: italic;
  }


  &>span>button{
  @include button;
 }
 }
}
// fine jumbotron
// inizio prima section

.container-first{
  width: 500px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  margin-top:50px;
  margin-bottom: 50px;

}

.container-second{
  width: 800px;
  height: 270px;
  margin: 0 auto;
  @include flex;

  .item{
    width: 24%;
    text-align: center;
    padding: 5px;
    color:$words;
    font-size: 20px;
  }
}

.container-third{
  height: 300px;
  background-color:$bg-color;


  &-top{

    text-align: center;
    height: 200px;

    height: 300px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 18px;
    color: $words
   }
  &-top>h2{
      margin-top: 20px;
      color: black;
    }
}
// inizio container four
.container-four{
  @include flex;
  margin:0 auto;
  background-color:$bg-color;
  height: 700px;

  .items{
    width: 19%;
    line-height: 25px;
    background-color: white;
    height: 650px;

    &>h4{
      margin-left:$margin;
    }
    &>span{
      margin-left:$margin;
    }
    &>p{
    margin-left:$margin;
    }
    &>ul>li>i{
      margin-left:$margin;
    }
    &>ul>li{
      display: inline;
    }
  }
}
// fine contenitore four

// inzio services
.services{
  height: 400px;
  border:1px solid black;
  width: 500PX;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
}

// fine services


// inizio types

.types{
  width: 50%;
    @include flex;
    border: 1px solid black;
    height: 200px;
    margin: 0 auto;

    .item{
      width: 30%;
      border: 1px solid black;
      height: 50px;
    }
}


// fine types

//  inizio footer

.footer{
  @include flex;
  height: 500px;
// item left
  .item{
    width: 20%;
    line-height: 25PX;
    margin-top: 20px;

  }
  .item>ul>li{
    display: inline;
    padding: 10px;
  }
  .item>ul>li>i{
    font-size: 40px;
    padding: 10px;
  }
  .item>span{
  color:$words;
  }
  .item>h5{
    color: $words;
  }


// item centre -- item specials

.item-specials{
  width: 30%;
  line-height: 25PX;
  margin-top: 20px;

  &>ul>li>span{
    color:$words;
  }


  &>ul>li{
    list-style: none;
  }

  &>ul>li>i{
    color: $button;
    font-size: 20px;
    padding: 5px;
  }
}

// item right
  .item-special{
    width: 30%;
    line-height: 25PX;
    margin-top: 20px;


    &>ul>li{
      list-style: none;
    }

    &>ul>li>a{
      text-decoration: none;
      color:$words;
      font-size: 20px;
    }

   &>ul>li>i{
      color: $button;
      font-size: 20px;
    }

    &>span>button{
      width: 300px;
      height: 50px;
      background-color: $word;
    }
  }


}



// fine footer
