@import "variables";
@import "colors";

@mixin flex {
  display:flex;
  flex-direction: row;
  justify-content:space-around;
}
@mixin button{
  width: 200px;
  height: 50px;
  background-color: $button;
}
@mixin square{
    width: 34%;
    height: 300px;
    text-align: center;
    color: white;
}

#root {
    font-family: 'Lato', sans-serif;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.jumbotron {
  height: 900px;
  background-image: url($img-bg);
  background-size: cover;

  .nav{
    width: 100%;
    height: 200px;


  &-left>img{
    float:left;
    margin-top: 15px;
    margin-left: 15px;

  }

  &-right{
    float: right;
    display: inline-block;
    margin-top: 15PX;


    &>li{
      list-style: none;
      display: inline;
      padding: 10px;
    }

    &>li>a{
      text-decoration: none;
      color:$word;
    }
    &>li>a:hover{
    color:$button;
    }

    &>li>span{
      color:$word;
    }

    &>li>span>button{
    @include button;
    color: white;
    border: $no-border;
    }



  }

}

.center{
  width: 600px;
  height: 200px;
  margin-left: 400px;
  color: $word;
  line-height: 25px;

  &>h1>span{
    color:$button;
  }

  &>h1{
    font-size: 45px;
  }

  &>h3{
    font-style: normal;
  }


  &>span>button{
  @include button;
  color:white;
  border: $no-border;

 }
 }
}
// fine jumbotron
// inizio prima section

.container-first{
  width: 500px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  margin-top:50px;
  margin-bottom: 50px;

}

.container-second{
  width: 800px;
  height: 270px;
  margin: 0 auto;
  @include flex;

  .item{
    width: 24%;
    text-align: center;
    padding: 5px;
    color:$words;
    font-size: 20px;
  }
}

.container-third{
  height: 300px;
  background-color:$bg-color;


  &-top{

    text-align: center;
    height: 200px;

    height: 300px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 18px;
    color: $words
   }
  &-top>h2{
      margin-top: 20px;
      color:$h4color;
    }
}
// inizio container four
.container-four{
  @include flex;
  margin:0 auto;
  background-color:$bg-color;
  height: 700px;

  .items{
    width: 19%;
    line-height: 25px;
    background-color: white;
    height: 650px;

    &>h4{
      margin-left:$margin;
    }
    &>span{
      margin-left:$margin;
    }
    &>p{
    margin-left:$margin;
    }
    &>ul>li>a>i{
      margin-left:$margin;
    }
    &>ul>li{
      display: inline;
    }
  }
}
// fine contenitore four

// inzio services
.services{
  height: 300px;
  width: 500PX;
  margin: 0 auto;
  text-align: center;
  line-height: 25px;

  &>span{
    color:$words;
  }
}

// fine services


// inizio types

.types{
  width: 50%;
  @include flex;
  margin: 0 auto;

    .item{
      width: 30%;
      height: 300px;
      line-height: 30px;
      margin: 0 auto;
      text-align: center;
      color:$words;

      &>h4{
        color:$h4color;
      }
    }
}

// fine types

.video{
    background-image: url($img-tour);
    height:1000px;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 25px;
    background-size:auto;

    &>img{
      margin-top: 40px;
    }

    &>span{
      margin-top: 40px;

    }

    &>h2{
      margin-top: 40px;
    }









}


// inzio video


// fine video

// inizio form

.form{
  background-image: url($form-img);

  height:1000px;
}

.container{
  @include flex;
}



.squaresone{
@include square;
background-color:$button;

&>H2{
  margin-top: 20px;
}

 &>span>button{
   width: 200px;
   height: 70px;
   background-color: $button;
   color: white;
   border: 2px solid white;
 }
}
.squarestwo{
@include square;
background-color: $squarethree;

 &>H2{
   margin-top: 20px;
 }

&>span>button{
  width: 200px;
  height: 70px;
  background-color: $squarethree;
  color: white;
  border: 2px solid white;
}

}

.squaresthree{
@include square;
background-color: $squaretwo;

&>H2{
  margin-top: 20px;
}

&>span>button{
  width: 200px;
  height: 70px;
  background-color: $squaretwo;
  color: white;
  border: 2px solid white;
}
}
.text-container{
  width: 400px;
  height: 100px;

  margin:0 auto;
  text-align: center;
  color:$word;
  line-height: 25px;
}

.form-container{
  width: 700px;
  height: 200px;

  margin: 0 auto;
  margin-top: 100px;
  margin-right: 530px;
  @include flex;

  .contact{
    width: 50%;
    height: 50px;
    display: inline-block;


    &>input{
      background-color: inherit;
    }

    &>input[placeholder]{
      width: 300px;
      height: 50px;
      border:1px solid white;
    }
  }
}

.form-text{
  width: 650px;
  height: 100px;
  border:1px solid white;
  margin: 0 auto;
  margin-right: 585px;

  &>input{
    background-color: inherit;
  }



  &>input[placeholder]{
    width: 650px;
    height: 100px;
    border:1px solid white;


  }
}

.appointment{
  width: 650px;
  height: 50px;
  margin:0 auto;
  margin-right: 585px;


  &>button{
    width: 650px;
    height: 50px;
    background-color:$button;
    color: white;


  }
}



// fine form

// inizio gradient
.gradient{
  background-image: url($gradient-bg);
  background-size: cover;
  height: 200px;
  width: 100%;
  @include flex;
}

// fine gradient

//  inizio footer

.footer{
  @include flex;
  height: 500px;
// item left
  .item{
    width: 20%;
    line-height: 25PX;
    margin-top: 20px;

  }
  .item>ul>li{
    display: inline;
    padding: 10px;
  }
  .item>ul>li>i{
    font-size: 40px;
    padding: 10px;
  }
  .item>span{
  color:$words;
  }
  .item>h5{
    color: $words;
  }


// item centre -- item specials

.item-specials{
  width: 30%;
  line-height: 25PX;
  margin-top: 20px;

  &>ul>li>span{
    color:$words;
  }


  &>ul>li{
    list-style: none;
  }

  &>ul>li>i{
    color: $button;
    font-size: 20px;
    padding: 5px;
  }
}

// item right
  .item-special{
    width: 30%;
    line-height: 25PX;
    margin-top: 20px;


    &>ul>li{
      list-style: none;
    }

    &>ul>li>a{
      text-decoration: none;
      color:$words;
      font-size: 20px;
    }

   &>ul>li>i{
      color: $button;
      font-size: 20px;
    }

    &>span>button{
      width: 300px;
      height: 50px;
      background-color: $word;
    }
  }
}

// fine footer
